/* IMPORTED STYLESHEET */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Open+Sans&display=swap');



/* BODY */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

p {
    font-family: 'Open Sans', sans-serif;
}



/* NAVBAR */

.navbar {
    font-size: 140%;
    font-family: 'Noto Sans KR', sans-serif;
}

.logo {
    width: 40px;
    height: auto;
    padding-right: 5px;
}

#search-field {
    border: 1px solid lightskyblue;
    border-radius: 3px;
}

#search-btn {
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid lightslategray;
    border-radius: 3px;
}