/* IMPORTED STYLESHEET */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Open+Sans&display=swap');



/* BODY */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
  }

h1 { 
    font-family: 'Noto Sans KR', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}



/* NAVBAR */

header {
    height: 100px;
}

.navbar {
    font-size: 140%;
    font-family: 'Noto Sans KR', sans-serif;
    height: 58px;
    background-color: #8ce2ff;
}

.navbar a {
    text-decoration: none;
    color: #060606 !important;
}

.nav-links a {
    font-size: smaller;
}

nav a:hover {
    color: rgba(17, 17, 26, 0.5) !important;
}

.logo {
    width: 40px;
    height: auto;
    padding-right: 5px;
}

button:hover {
    background-color: rgba(255, 215, 37, 0.992);
    color: rgba(17, 17, 26, 0.5) !important;
}



/* ABOUT SECTION */

.about {
    height: 300px;
    padding-top: 100px;
    text-align: center;
}

.about h2, p {
    padding-top: 20px;
}


/* COMMENTED OUT MODAL STYLING 


'ABOUT INFO' MODAL 

   MODAL BACKGROUND

.modal {
    display: none;
    z-index: 1;


    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0,2);
}

    MODAL BOX 

.modal-text {
    background-color: rgba(255, 215, 37, 0.992);
    margin: 10% auto;
    padding: 10px;
    border-radius: 10px;
    width: 80;
}

    EXIT BUTTON 

.exit-modal {
    color: rgba(17, 17, 26, 0.5);
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.exit-modal:hover,
.exit-modal:focus {
    color: #060606;
    cursor: pointer;
    text-decoration: none;
}

*/



/* MAP SECTION 

.weather-map {
    height: 400px;
} */


/* WEATHER DATA SECTION */

.weather-data h2 {
    font-style: italic;
    padding-bottom: 20px;
}

#map {
    padding-top: 20px;
    height: 500px;
    width: 500px;
    align-content: center;
}


/* FOOTER */

ul {
    list-style: none;
}

footer {
    height: 58px;
    background-color: #8ce2ff;
    text-align: center;
    color: #060606;
}

footer li {
    display: inline;
    padding: 15px;
}

footer i {
    color: #060606;
    font-size: 140%;
    margin-top: 15px;
}

footer i:hover {
    color: rgba(17, 17, 26, 0.5);
}
