/* IMPORTED STYLESHEET */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Open+Sans&display=swap');



/* BODY */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
  }

h1 { 
    font-family: 'Noto Sans KR', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}



/* NAVBAR */

header {
    height: 100px;
}

.navbar {
    font-size: 140%;
    font-family: 'Noto Sans KR', sans-serif;
    height: 58px;
    background-color: #8ce2ff;
}

.navbar a {
    text-decoration: none;
    color: #060606 !important;
}

.nav-links a {
    font-size: smaller;
}

nav a:hover {
    color: rgba(17, 17, 26, 0.5) !important;
}

.logo {
    width: 40px;
    height: auto;
    padding-right: 5px;
}

/* STYLING OF PREVIOUS NAVBAR!

.button {
    background-color: rgba(255, 208, 0, 0.992);
    box-shadow: rgba(17, 17, 26, 0.5) 0px 0px 2px;
}

*/

button:hover {
    background-color: rgba(255, 215, 37, 0.992);
    color: rgba(17, 17, 26, 0.5) !important;
}


/* ABOUT SECTION */




/* COMMENT OUT TO BUILD MODAL 

.about {
    height: 200px;
}

.about p {
    margin-top: 100px;
}

*/




/* MAP SECTION */

.weather-map {
    height: 400px;
}



/* WEATHER INFO SECTION */

.weather-info {
    height: 200px;
}



/* FOOTER */

ul {
    list-style: none;
}

footer {
    height: 58px;
    background-color: #8ce2ff;
    text-align: center;
    color: #060606;
}


footer i {
    display: inline;
}

footer a:hover {
    color: rgba(17, 17, 26, 0.5);
}
